{%extends 'base2.html' %}

{% load static %}

{%block titulo %} home {% endblock titulo%}


{%block head %} 


 <!-- Page Header-->
<header class="masthead" style="background-image: url('static/image/home Grupo10.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>INFORMATORIO</h1>
                    <h2>Blog Grupo 10</h2>
                    <span class="subheading">Noticias sobre Economia y mas </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock head%}



 {% block contenido %}
   <!-- Main Content-->
   <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1 class="text-center">PRESENTACIÓN</h1>
            <div class="video-container" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
                    src="https://www.youtube.com/embed/18LK2mtptSc" 
                    title="[4K] Beauty Of Nature | Time-Lapse | Drone Aerial View | Free HD Videos - No Copyright" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen>
                </iframe>
            </div>
            
            {% for cadaPost in post %}
                <div class="post-preview">
                    <a href="{% url 'blogpost:detalle' cadaPost.id %}">
                        <h2 class="post-title">{{cadaPost.titulo}}</h2>
                        <h3 class="post-subtitle">{{cadaPost.cuerpo |slice:"200"}}</h3>
                    </a>
                    <p class="post-meta">
                        Posteado por
                        <a href="#!">{{cadaPost.autor}}</a>
                        {{cadaPost.fechaCreado}}
                    </p>
                </div>
            {% endfor %}
            
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'contactos:contacto' %}">Sugerencia</a></div>
        </div>
    </div>
</div>


{% endblock contenido %}
