{%extends 'base2.html' %}

{% load static %}

{%block titulo %} Post Detalle {% endblock titulo%}


{%block head %} 


 <!-- Page Header-->
<header class="masthead" style="background-image: url('{{ post.imagen1.url }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 class="post-title">{{post.titulo}}</h1>
                    <h2 class="subheading">{{post.subtituloGenral|default_if_none:""}}</h2>
                   
                    <span class="meta"> 
                         Posteado por
                       {{post.autor}}
                       {{post.fechaCreado}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock head%}



 {% block contenido %}
   <!-- Main Content-->
   <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-8">
           
               
                <div class="post-preview">
                   
                       
                        <p class="post-subtitle">{{post.cuerpo}}</p>
                    </a>
                   
                </div>
              
                <h2 class="section-heading">{{ post.titulo2|default_if_none:"" }}</h2>
                <p>{{ post.cuerpo2|default_if_none:"" }}</p>
                <a href="#!">
                  <img class="img-fluid" src="{{ post.imagen2.url|default_if_none:'media/blogpost/default.png' }}" alt="..." />
                 
              </a>
                <span class="caption text-muted">{{ post.pieDeFoto|default_if_none:"" }}</span>
                <br>
                <p>{{ post.pieDePosteo|default_if_none:"" }} </p>
                <p>    
                 
                
                <section style="background-color: #d8d8d8;">
                    <div class="container my-5 py-5">
                      <div class="row d-flex justify-content-center">
                        <div class="col-md-12 col-lg-10">
                          <div class="card text-dark">
                            <div class="card-body p-4">
                              <h4 class="mb-0">Comentarios Recientes</h4>
                              <p class="fw-light mb-4 pb-2">Lista</p>
                              <hr class="my-0" />
                              {% for comentario in comentarios %}
                              <br>
                              <div class="d-flex flex-start">
                                <img class="rounded-circle shadow-1-strong me-3"  
                                src="{% static 'image/Imagen_Grupo_10.jpg' %}" alt="avatar" width="70"
                                  height="70" />
                                <div>
                                <br>
                                <h6 class="fw mb-1">{{ comentario.usuario.username | default_if_none:"" }}</h6>
                                  <br> 
                                  <h6 class="fw-bold mb-1"> {{ comentario.usuario.email | default_if_none:"" }}</h6>
                                  <h6 class="fw-bold mb-1"> {{ comentario.nombre | default_if_none:"" }}</h6>
                                  <div class="d-flex align-items-center mb-3">
                                    <p class="mb-0">
                                        {{ comentario.fechaCreado | default_if_none:"" }}
                                        {% if comentario.activo %}
                                        <span class="badge bg-primary">Activo</span>
                                        {% else %}
                                            <span class="badge bg-secondary">No Activo</span>
                                        {% endif %}
                                      <!-- <span class="badge bg-primary"> {{ comentario.activo | default_if_none:"" }}</span> -->
                                    </p> 
                                    {% if user.is_authenticated and comentario.usuario == user %}
                                    <a href="{% url 'blogpost:editarComentario' pk=comentario.pk %}" class="link-muted">
                                      <i class="fas fa-pencil-alt ms-2"></i>
                                    </a>
                                    {% endif %}

                                    {% if user.is_authenticated %}
                                    
                                    <a href="#!" class="link-muted me-gusta-link"
                                      data-action="{% if user in comentario.me_gusta.all %}unlike{% else %}like{% endif %}"
                                      data-comentario-id="{{ comentario.pk }}">
                                      <i class="fas fa-heart ms-2"></i>
                                      <span id="megusta-contador-{{ comentario.pk }}" class="{% if user in comentario.me_gusta.all %}megusta{% endif %}">
                                        {{ comentario.me_gusta.count }}
                                      </span> Me gusta
                                    </a>
                                   {% endif %}
                                   
                                    <!-- <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a> -->
                                    
                                  </div>
                                  <p class="mb-0 comment-content" >
                                    {{ comentario.contenido | default_if_none:"" }}
                                  </p>
                                </div>
                              </div>
                              <br>
                              <hr class="my-0" />
                              {% empty %}
                              <p>No hay comentarios todavía.</p>
                              {% endfor %}
                            </div>
                  
                            <hr class="my-0" />                      
                          
                        </div>
                      </div>
                    </div>
                  </section>
                      
                 
                      {% if user.perfil == 'miembro' or user.perfil == 'colaborador' %}
                          {% if form %}
                            <form method="post">
                              {% csrf_token %}
                              <div class="row mb-3">
                                <div class="col-md-6">
                                  <label>{{ form.nombre.label }}</label>
                                  <input type="text" class="form-control" value="{{ user.get_username }}" readonly>
                                </div>
                                <div class="col-md-6">
                                  <label>{{ form.email.label }}</label>
                                  <input type="text" class="form-control" value="{{ user.email }}" readonly>
                                </div>
                              </div>
                              <div class="row mb-3">
                                <div class="col-md-12">
                                  <label>{{ form.contenido.label }}</label>
                                  <textarea name="{{ form.contenido.name }}" class="form-control" rows="4" placeholder="{{ form.contenido.label }}"></textarea>
                                </div>
                              </div>
                              <div class="form-check">
                                <input type="checkbox" name="{{ form.activo.name }}" class="form-check-input" id="id_activo" checked disabled>
                                <label class="form-check-label" for="id_activo">{{ form.activo.label }}</label>
                              </div>
                              <input class="btn btn-primary" type="submit" name="Enviar" value="Comentar">
                            </form>
                            
                          {% else %}
                          <p>No hay comentarios todavía.</p>
                          {% endif %}
                      {% else %}
                    <div class="text-center">
                      <p>Inicia sesión como miembro o colaborador para dejar un comentario.</p>
                      <form method="post" action="{% url 'login' %}?next={{ request.path }}">
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit" value="Iniciar sesión">
                      </form>
                    </div>
                    {% endif %}
                 

                     
                      
              


           
        </div>
    </div>
</div>

<script>
 $(document).ready(function() {
  // Captura el clic en el enlace de "me gusta"
  $(document).on('click', '.me-gusta-link', function(event) {
    event.preventDefault();
    var link = $(this);
    var action = link.data('action');
    var comentarioId = link.data('comentario-id');

    // Realiza la solicitud AJAX al servidor
    $.ajax({
      url: '/blogpost/megustaComentario/' + comentarioId + '/', // Reemplaza esto con la URL que maneja la acción de "me gusta" o "no me gusta"
      type: 'POST', // O 'GET' si prefieres
      data: {
        'comentario_id': comentarioId,
        'action': action,
        'csrfmiddlewaretoken': '{{ csrf_token }}' // Asegúrate de incluir el token CSRF para proteger la solicitud
      },
      success: function(response) {
        // Actualiza el contador de "me gusta" con la respuesta del servidor
        $('#megusta-contador-' + comentarioId).text(response.likes_count);

        // Cambia la clase CSS del contador de "me gusta" según si el usuario ha dado "me gusta" o no
        if (response.user_liked) {
          $('#megusta-contador-' + comentarioId).addClass('megusta');
        } else {
          $('#megusta-contador-' + comentarioId).removeClass('megusta');
        }
        window.location.reload();
      },
      error: function(xhr, textStatus, errorThrown) {
        // Maneja el error si es necesario
      }
    });
  });
});
</script>

{% endblock contenido%}
