{% extends 'base2.html' %}
{% load static %}

{%block titulo %} Registro {% endblock titulo%}

{%block head %} 

 <!-- Page Header-->
<header class="masthead" style="background-image: url('/static/image/home Grupo10.jpg')">
   


<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0 card h-100" style="background-color: #525252; color: aliceblue;">
                <div class="site-heading">
                    <h1>Registro</h1>
                    <h2>Blog Grupo 10</h2>
                    <span class="subheading">Un Blog Para todos</span>
                </div>
                <p style="color: hsl(0, 0%, 100%)">
                    "¡Bienvenido(a) al sitio web del Grupo 10! Este espacio ha sido creado como parte de nuestro trabajo final informatorio. Estamos emocionados de tenerte aquí.
            
                    Para comenzar, regístrate en el sitio y comunícate con un administrador para obtener los permisos necesarios según tus intereses y necesidades. Dentro de nuestra plataforma, podrás solicitar permisos para colaborar y contribuir tanto en el blog como en las noticias.
                    
                    En nuestro blog, podrás compartir todo aquello que desees: tus ideas, pensamientos, experiencias y más. Además, tendrás la opción de interactuar con otros usuarios mediante comentarios y discusiones.
                    
                    En la sección de noticias, tendrás la oportunidad de cargar y editar noticias desde tu cuenta personal, manteniendo a todos informados sobre los temas más relevantes.
                    
                    Esperamos que disfrutes al máximo de esta experiencia en nuestro sitio web. ¡Explora, interactúa y forma parte de nuestra comunidad! Si tienes alguna pregunta o inquietud, no dudes en contactarnos.
                    
                    ¡Gracias por unirte a nuestra comunidad en línea y contribuir con tu presencia!
                    
                    El Grupo 10"
                </p>
            </div>
            
            <div class="col-lg-6 mb-5 mb-lg-0 h-100 d-flex align-items-center">
                <div class="card">
                    <div class="card-body py-5 px-md-5">
                        <form method="post" enctype="multipart/form-data" class="row g-3">
                            {% csrf_token %}
                            <div class="col-md-12">
                                {{ form.first_name.label_tag }}
                                {{ form.first_name }}
                            </div>
                            <div class="col-md-12">
                                {{ form.last_name.label_tag }}
                                {{ form.last_name }}
                            </div>
                            <div class="col-md-12">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                            </div>
                            <div class="col-md-12">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </div>
                            <div class="col-md-12">
                                {{ form.password1.label_tag }}
                                {{ form.password1 }}
                            </div>
                            <div class="col-md-12">
                                {{ form.password2.label_tag }}
                                {{ form.password2 }}
                            </div>
                            <div class="col-md-12">
                                {{ form.imagen.label_tag }}
                                {{ form.imagen }}
                            </div>
                            <div class="col-md-12">
                                {{ form.facebook.label_tag }}
                                {{ form.facebook }}
                            </div>
                            <div class="col-md-12">
                                {{ form.whatsapp.label_tag }}
                                {{ form.whatsapp }}
                            </div>
                            <div class="col-md-12">
                                {{ form.instagram.label_tag }}
                                {{ form.instagram }}
                            </div>
                        
                            <!-- Checkbox -->
                            <div class="col-12 d-flex justify-content-center mb-4">
                                <div class="form-check">
                                    {{ form.subscribe }}
                                    <label class="form-check-label" for="{{ form.subscribe.id_for_label }}">
                                        Recibir información
                                    </label>
                                </div>
                            </div>
                        
                            <!-- Submit button -->
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-block mb-4">Registrar</button>
                            </div>
                        </form>

                        
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>


 
</header>
{% endblock head%}


{% block contenido%}



{% endblock contenido%}

